@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}

body {
    background-image: url('https://cdn.img-conv.gamerch.com/img.gamerch.com/miraclenikki/wikidb_img/1561887877001.png');
    background-attachment:fixed;
    background-size:contain;
    background-repeat:  no-repeat;
    background-position: bottom;
    background-size: 300px;
}

a:hover {
    text-decoration: none;
    color: darkblue;
}

.navbar .navbar-brand {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
    top: 4px;
}

.nav {
    background-color:#4e0273;
}

.yellow {
    color: red;
}

.navbar .nav-item {
    padding: 5px 10px;
}

.navbar .nav-link {
    font-size: 18px;
    margin-left: 5px;
    color: white;
}

.active1 {
/*    color: aqua;*/
    font-weight: 900;
/*  border-bottom: 3px solid red;*/

}

.bi-list {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 2px;

}

.bi-x {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 2px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.cotxt {
    font-family: cursive;
    color: snow;
    font-size: 20px;
}

.test {
    box-shadow: 0px 1px 10px black;
/*    border-bottom: 2px solid white;*/
}

.boxs h3 {
    font-family: cursive;

}
.fa-school {
    color: #4467e8;
    background-color: #ebebeb;
    padding: 23px 20px;
    border-radius: 50px;
    margin-bottom: 8px;
}

.fa-user-graduate {
    font-size: 220%;
    color: #4467e8;
    background-color: #ebebeb;
    padding: 19px 24px;
    border-radius: 50px;
    margin-bottom: 3px;
}

.fa-award {
    font-size: 140%;
    color: #4467e8;
    background-color: #ebebeb;
    padding: 18px 25px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.fa-graduation-cap {
    font-size: 110%;
    color: #4467e8;
    background-color: #ebebeb;
    padding: 20px 19px;
    border-radius: 50px;
    margin-bottom: 8px;
}

.fa-angle-double-down {
    font-size: 25px;
    color: cadetblue;
}
.gall {
    font-size: 26px;
}

.boxs {
    padding: 3% 0%;
}

.kop {
    padding: 3px 5px;
    padding-left: 7px;
    color: mediumblue;
    font-weight:100;
    font-family: sans-serif;
    border-bottom: 1px solid blue;
}

.kop:hover {
    background-color: white;
    color: darkblue;
    border: 2px solid red;
    text-decoration: none;
}

/*news card*/
.card {
	 background-color: #f0f0f0;
     margin-top: 15px;
}

.card .card-title {
/*	color: #1d1c19;*/
    font-weight:500;
}

.card .card-text {
	font-size: 14px;
	border:none;
}

.bi-calendar4-event {
    position: relative;
    bottom: 3px;
    padding-right: 3px;
}

.color {
    color: #A44DD8;
}

/*team card*/
#team {
    background: #eee !important;
}
.titles {
    font-weight: normal;
    padding-bottom: 10px;
    color: #A44DD8;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*contact*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after {
    display: table; content: ''; 
}

.innerwrap {
    padding-bottom: 0px;
    margin-bottom: 0px
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
    position: relative;
    bottom: 100px;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
    width: 100%;
    margin: auto;
}
.section2 .col2.last {
	margin: auto;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
span.collig {
    margin-top: 25px;
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
    font-size: 110%;
    
}

.contxt p {
    font-size: 110%;
    line-height: 40%;
    color: black;
    font-weight: 500;
}

.section2 .sec2addr {
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
    resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
    width: 100%;
}
.section2 .sec2contactform h2 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

.sec2contactform {
    position: relative;
    top: 100px;
/*    right: 270px;*/
}
/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container2 {
    padding: 0 20px 0px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}

@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}

